 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2>About the imaginables</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <p>
                        This is an open call for all individuals and communities of the world; who are into ideation, design, research, 
                        and development activities on observing the civic engagements and <strong>the impact of demand-side-initiated or promoted
                            future scenarios (aka. demand-augmentation)</strong> and creating opportunities to extend the 
                            <strong>Freedom of Expression</strong> with <strong>Expression of Demand</strong> in several fields. <br><br>
 
                         </p>

                                  </div>

                <div class="col-lg-4">
                    <p><strong>Future, Made</strong> is an independent Art & Technology collective hoping to be creative on what it does + how and why it exists. 
                        Opted for making a positive impact via progressively conducting a set of experimental projects in the socio-economical and political
                        aspects of a multi-lateral, inclusive and globally designable future; while fostering commons-making and skills-making,
                        around new socio-economical value chains with humanitarian values in a <a href="https://en.wikipedia.org/wiki/Grassroots" target="_blank">grasroots</a> fashion.
                    </p>
                </div>

                <div class="col-lg-4">
                    <p>
                        Future is observable, when there is a demand, intention and consent bases exist for efficient, effective and fair access to distribution, discovery and use of resources. 
                        Otherwise, there will be an ongoing need for historical-data that is being collected by some, in real-time. 
                        We should be ready for a future, where all ads are blocked because of the known and being experienced/forced, bad practices.

                        Our technology-enabled projects have also inspired from <a>Community Supported Agriculture,</a> where a future clarity is given to farmers by the consumers.
                        
                    </p>
                    
                </div>
         
           

                <div class="col-lg-8 col-lg-offset-2 text-center mt-4 mb-4">
                    <img class="img-responsive" src="/img/b2f.jpg" alt="profile-pic" />

                    <a href="https://miro.com/app/board/o9J_lcIxk6U=/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fas fa-address-card"></i> Results from Gathering # 1
                    </a> 
                    
                    <br>
                    <a href="https://streamerd.github.io/jekyll-timeline/" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fas fa-address-card"></i> Project Timeline <br>and <br> Roadmap
                    </a> 
                </div> 

                <div class="row">
                    <div class="col-lg-6">
                        <p>All concepts and projects are being developed to further increase the accessibility, 
                            sustainability of the Arts, Culture and Knowlegde, opening new channels for expressing local and global problems via causes included to improve the ability of people to organize and demand changes in an 
                            <a href="https://link.springer.com/chapter/10.1007/978-3-319-98593-0_3" target="_blank"><strong>
                                non-anthropocentric 
                            </strong></a>
                            manner, with an initial dedication on fostering fair, safe, localized, decentralize-able art events of the future, by design.
                        </p>
                  
                    </div>

                    <div class="col-lg-6">
                        <p>
                            Hence, efforts started with improving the, 
                            deterministic and high risk-taking ticketing/planning methodologies. Via creating future-oriented, temporary and/or long-lasting
                            communities around the arts, culture and values. Hoping to enable generation of multi-lateral micro-incentives between 
                            <a href="https://miro.com/app/board/o9J_ldhZvuk=/" target="_blank">potential participants.</a>
                            
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>
