 <!-- About Section -->
 <section class="success" id="collaborators">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-left text-center text-lg-left">
                        <h2> &lt;| Come, as you are |> </h2>
                            <br><br><br>
                    </div>
                </div>
            </div>

        
            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="http://atyilmaz.tech" target="_blank"><i class="fas fa-mouse"></i></a>
                                    <a href="https://twitter.com/_streamerd" target="_blank"><i class="fab fa-twitter-square"></i></a>
                                    <a href="https://github.com/streamerd" target="_blank"><i class="fab fa-github-square"></i></a>
                                    <a href="https://behance.net/atyilmaz" target="_blank"><i class="fab fa-behance-square"></i></a>
                                    <a href="https://instagram.com/streamerd_" target="_blank"><i class="fab fa-instagram"></i></a>

                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/tolgay.png" alt="Tolgay">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Abbas Tolgay Yılmaz</h5>
                            <p class="mb-0">Software Developer, Visual Artist, Game Theorist</p>
                        </div>
                    </div>
                </div>


                   <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="http://www.zariharat.com/" target="_blank"><i class="fas fa-mouse"></i></a>
                                    <a href="https://www.instagram.com/zariamma/" target="_blank"><i class="fab fa-instagram"></i></a>
                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/zari.png" alt="Zari">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Zari Harat</h5>
                            <p class="mb-0">Visual Artist, Designer, Teacher, Traveler </p>
                        </div>
                    </div>
                </div>
                 
                <div class="col-md-6 col-lg-4 mb-30" >
                    <div class="team-item" id="sharon">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="https://www.sharonlomanno.com" target="_blank"><i class="fas fa-mouse"></i></a>

                                    <a href="https://vimeo.com/user6120513" target="_blank"><i class="fab fa-vimeo-square"></i></a>

                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/sharon.png" alt="Sharon">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Sharon Lomanno</h5>
                            <p class="mb-0">Art Director, Scientist, Photographer, Videographer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="https://www.youtube.com/channel/UC-yQd6AIF6ChcuUtmlfTp3A" target="_blank"><i class="fab fa-youtube"></i></a>
                                    <a href="https://soundcloud.com/user-726570705" target="_blank"><i class="fab fa-soundcloud"></i></a>
                                    <a href="https://sabrinademitri.bandcamp.com/releases" target="_blank"><i class="fab fa-bandcamp"></i></a>
                                    <a href="https://open.spotify.com/artist/0A73riLxdw3xY9fRRBTjdi" target="_blank"><i class="fab fa-spotify"></i></a>

                                    
                                    <a href="https://www.instagram.com/sabrina.demitri/" target="_blank"><i class="fab fa-instagram"></i></a>

                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/sabrina.png" alt="Sabrina">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Sabrina De Mitri</h5>
                            <p class="mb-0">Musician, Traveler </p>
                        </div>
                    </div>
                </div>
                            
                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="https://open.spotify.com/artist/3BAG3EEwisxVVc5ZsbSLSZ" target="_blank"><i class="fab fa-spotify"></i></a>
                                    
                                    <a href="https://soundcloud.com/user-726570705" target="_blank"><i class="fab fa-soundcloud"></i></a>

                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/mikey.jpg" alt="Mikey">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Mikey Goodfire</h5>
                            <p class="mb-0">Musician, Traveler </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="http://tanjatae.com/" target="_blank"><i class="fas fa-mouse"></i></a>
                                    <a href="https://www.behance.net/tanjatae" target="_blank"><i class="fab fa-behance-square"></i></a>
                                    <a href="https://www.instagram.com/tanja.tae/" target="_blank"><i class="fab fa-instagram"></i></a>
                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/tanja.jpeg" alt="Tanja">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Tanja Taechanurug</h5>
                            <p class="mb-0">Designer, Illustrator</p>

                        </div>
                    </div>
                </div>
            
       
             

                <div class="col-md-6 col-lg-4 mb-30">
                    <div class="team-item">
                        <div class="mb-30 position-relative d-flex align-items-center">
                                <span class="socials d-inline-block">
                                    <a href="https://www.linkedin.com/in/tinamarquardt/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                 
                                    <a href="https://www.instagram.com/bee.shot/" target="_blank"><i class="fab fa-instagram"></i></a>
                                </span>
                            <span class="img-holder d-inline-block">
                                    <img src="/img/collaborators/tina.png" alt="Tina">
                                </span>
                        </div>
                        <div class="team-content">
                            <h5 class="mb-2">Tina Marquardt</h5>
                            <p class="mb-0">Blockchain & Distributed Governance Researcher, Photographer, Entreprenour</p>
                        </div>
                    </div>
                </div>

              
                    
                    <div class="col-md-6 col-lg-4 mb-30">
                        <div class="team-item">
                            <div class="mb-30 position-relative d-flex align-items-center">
                                    <span class="socials d-inline-block">
                                        
                                        <a href="https://vasspilka.github.io/" target="_blank"><i class="fas fa-mouse"></i></a>
                                        <a href="https://github.com/vasspilka/" target="_blank"><i class="fab fa-github-square"></i></a>
                                        <a href="https://twitter.com/vasspilka"  target="_blank"><i class="fab fa-twitter-square"></i></a>

                                   
                                    </span>
                                <span class="img-holder d-inline-block">
                                        <img src="/img/collaborators/vasilis.png" alt="Vasilis">
                                    </span>
                            </div>
                            <div class="team-content">
                                <h5 class="mb-2">Vasilis Spilka</h5>
                                <p class="mb-0">Software Developer, Occasional Writer</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-30">
                        <div class="team-item">
                            <div class="mb-30 position-relative d-flex align-items-center">
       
                                <span class="img-holder d-inline-block">
                                        <img src="/img/collaborators/jannik.png" alt="Jannik">
                                    </span>
                            </div>
                            <div class="team-content">
                                <h5 class="mb-2">Jannik Bessert</h5>
                                <p class="mb-0">Audio Engineer</p>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 mb-30">
                        <div class="team-item">
                            <div class="mb-30 position-relative d-flex align-items-center">
                          
                            </div>
                            <div class="team-content">
                                <a href="https://form.typeform.com/to/JNPeG0JL?typeform-medium=embed-snippet">
                                <h2 class="mb-2">+ You +</h2>
                                <p class="mb-0">Come, as you are</p>
                            </a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
