<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 typewriter">
        <!-- <div class="intro-text">
          <span class="name">A future, <br> to be made by and for all.</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span> 
        </div> -->
        <p>
          <h1>

            a <br>future, <br>to be made <br>by and for all <br>..<br>.
          </h1>
      
      </p>
        <!-- <div class="typewriter">
         
        </div> -->

        <!-- <img class="img-responsive" src="img/b2f.jpg" alt="profile-pic" /> -->
        <!-- <a href="https://letterboxd.com/film/back-to-the-future/" target="_blank">image from letterboxd.com</a> -->
      </div>
    </div>
  </div>
</header>
