<nav class="navbar navbar-dark bg-dark fixed-top" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hamburgerz" aria-controls="hamburgerz" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <a class="navbar-brand" href="#page-top">futureMade</a>

      </div>

      <div class="collapse navbar-collapse" id="hamburgerz">
        <ul class="nav navbar-nav">
          <li class="hidden">
              <a href="#page-top"></a>
          </li>

          <li class="page-scroll">
              <a href="#about">About</a>
          </li>

          <li class="page-scroll">
            <a href="#motivations">Motivations</a>
          </li>
          
           <li class="page-scroll">
               <a href="#portfolio">Concepts</a>
           </li>
            
          
          <li class="page-scroll">
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown04">
                      <li><a href="https://miro.com/app/board/o9J_lcIxk6U=/" target="_blank">Open Participation @ miro</a></li>
                      <li class="divider"></li>

                      <li><a href="https://wireframepro.mockflow.com/view/M7c9a6b7e67ad6cd1a97461cabeb46b6c1606392540908" target="_blank">Current Design</a></li>
                      <li class="divider"></li>

                      <li><a href="https://github.com/Future-Made" target="_blank">Code repository @ github</a></li>
                      <li class="divider"></li>
                      <li><a href="https://miro.com/app/board/o9J_ldhZvuk=/" target="_blank">Co-op model</a></li>

                      <li class="divider"></li>
                      <li><a href="https://www.pearltrees.com/the_offset_movement/" target="_blank">Reading material</a></li>
                      
            
                  </ul>
              </li>
          </li>

       
          
          
  
          <li class="page-scroll">
              <a href="#collaborators">Collaborators</a>
          </li>
          
          
          <li class="page-scroll">
              <a href="#contact">Contact</a>
          </li>
      </ul>
  </div>
    
      </div>
    </div>
    
  </nav>